/* Imports */
@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat');

/* RESET */
* { padding: 0px; margin: 0px; }
body { color: var(--pink); overflow: hidden; }

/* COLORS */
:root {
    --pink: #E86786;
}

/* Pre-defined classes */
.navbar-heading {
    font-family: 'Lobster';
    font-size: 34px;
    text-align: center;
}

.section-heading {
    font-family: 'Lobster';
    font-size: 24px;
    text-align: center;
}

.section-content-heading {
    font-family: 'Lobster';
    font-size: 48px;
    letter-spacing: 6px;
}

.section-content {
    font-family: 'Montserrat';
    font-size: 27px;
}

.line {
    border: 10px solid var(--pink);
}

.shadow {
    box-shadow: 0px 0px 30px 0px grey;
}

.radius {
    border-radius: 10px;
}

.section-margin {
    margin-top: 120px;
}

/* Loader styling */
.loader {
    opacity: 1;
    background: #E86786;
    transform: translateY(0px);
    transition: 1.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    position: fixed;
    z-index: 99999;
}

.loader div {
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    position: relative;
    top: 50%; left: 50%;
    margin-top: -50px; 
    margin-left: -50px;
    animation: smallBig infinite cubic-bezier(0.23, 1, 0.320, 1) alternate 1s;
}

.loader div span {
    position: absolute;
    height: 60px;
    width: 60px;
    background: var(--pink);
    border-radius: 50%;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    animation: inner infinite cubic-bezier(0.39, 0.575, 0.565, 1) alternate 1s;
}

/* Loader keyframes */
@keyframes inner {
    from { tranform: scale(1); }
    to { transform: scale(2); } 
}

@keyframes smallBig {
    from { transform: scale(1); }
    to { transform: scale(2); }
}

/* Element styling */
.section-heading h1 {
    margin: 75px;
    margin-bottom: 30px;
}

.section-heading div {
    background-color: #E86786;
    height: 8px;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 70px;
}

section {
    display: flex;
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
}

section div {
    flex-grow: 1;
    min-width: 400px;
}

.type1 div:nth-child(1) {
    background-image: url(../assets/nacho-rochon-423005-unsplash.jpg);
    background-size: cover;
    background-position: center center;
}
.type1 div:nth-child(2) {
    background-color: white;
}

.type2 div:nth-child(1) {
    background-color: white;
}
.type2 div:nth-child(2) {
    background-image: url(../assets/rodrigo-soares-487443-unsplash.jpg);
    background-size: cover;
    background-position: center center;
}

/* Navbar styling */
nav {
    height: 230px;
    background-color: white;
    box-shadow: 0px 2px 15px 0px grey;   
    position: relative;
    z-index: 99;
}

nav .logo {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px solid var(--pink);
    border-radius: 50%;
    left: 50%;
    margin-left: -50px;
    top: 20px;
    background-image: url(../assets/Screenshot-2017-11-25\ Instagram\ Post\ –\ Blue\ Sky\ Photography\ Quote.png);
    background-size: cover;
}

.titleDiv {
    position: absolute;
    left: 50%;
    margin-left: -108px;
    top: 65%;
}

.titleDiv div {
    background-color: #E86786;
    height: 6px;
    width: 65px;
    margin: 12px auto;
}

/* header styling */

header {
    height: 570px;
    width: 100%;
    background-image: url(../assets/akshar-dave-532470-unsplash.png);
    background-size: cover;
    background-position: center center;
    position: relative;
}

header .header-box {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: white;
    top: 130px;
    left: 245px;
}

header .header-box div {
    position: absolute;
    top: 200px;
    left: 27px; 
}

header .header-box span {
    position: absolute;
    background-color: #E86786;
    height: 6px;
    width: 65px;
    top: 27px;
    left: 27px;
}

header .header-box div p:nth-child(1) {
    font-family: 'Montserrat';
    font-size: 24px;
}

header .header-box div p:nth-child(2) {
    font-family: 'Lobster';
    font-size: 45px;
}

/* Footer styling */
footer {
    margin: 40px auto;
    background-color: var(--pink);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
}

footer div {
    position: absolute;
    text-align: center;
    font-family: 'Lobster';
    font-size: 24px;
    color: white;
    left: 20px;
    top: 10px;
}